.footer {
  text-align: center;
  background: linear-gradient(transparent, $black);

  .links {
    a {
      margin: 1rem;
    }
  }

  .credit {
    @include grap-text(2rem);
    padding-top: 2rem;

    span {
      color: $yellow;
    }
  }
}
