.home {
  margin-top: 7rem;
  background: url(../images/home-bg.png) no-repeat;
  background-size: cover;
  background-position: center;

  .content {
    max-width: 70rem;
    text-align: center;
    margin: 0 auto;

    img {
      width: 100%;
    }

    h3 {
      @include title-text(4rem);
    }

    p {
      @include grap-text(1.7rem);
      padding: 2rem 0;
    }
  }
}

@media (max-width: 768px) {
  .home .content h3 {
    font-size: 2.5rem;
  }
}
