.menu {
  .box-container {
    @include grid(31rem);

    .box {
      text-align: center;

      &:hover img {
        transform: translateY(1rem);
      }

      img {
        height: 25rem;
      }

      .content {
        padding: 1rem 0;

        .stars {
          margin-bottom: 2rem;

          i {
            font-size: 1.7rem;
            color: $yellow;
          }
        }

        h3 {
          @include title-text(2rem);
        }

        .price {
          @include grap-text(2rem);
        }
      }
    }
  }
}
