@mixin title-text($titleSize) {
  font-size: $titleSize;
  text-transform: uppercase;
  color: $white;
}

@mixin grap-text($grapSize) {
  font-size: $grapSize;
  line-height: 2;
  color: $light-color;
}

@mixin grid($val) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
  gap: 2rem;
}
